<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <setting id="qualityPref" type="enum" label="30004" values="sd|hd|fhd|highest" default="1" />
  <setting id="byDailymotionPlugin" type="bool" label="30005" default="false" />
  <setting id="altParser" type="bool" label="30006" default="true" />
  <setting id="root_url" type="url" label="30007" default="http://www.marutv.com/" ></setting>
  <setting id="root_urltv" type="url" label="30008" default="http://www.sinktv.com/korea/" ></setting>
</settings>
